.item-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.item-div {
  margin: 0 auto;
  border: 1px solid rgb(165, 76, 230);
  border-radius: 15px;
  width: 350px;
  height: 450px;
  padding: 10px;
}
